@media (min-width: 769px) {
  .container,
  .contact-wrapper,
  .contact-form {
    display: flex;
   
    flex-wrap: wrap;

  }
}
.main-outer-container{
	display: none;
}
.container{
	height: 100vh;
}


* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0;
  box-sizing: border-box;
}
* p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  /* text-align: left; */
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li a {
  display: block;
  color: white;
  padding: 16px 30px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 0.1rem solid rgb(95, 93, 93);
}



li a:hover:not(.active) {
  background-color: #2d2c2c;
  color: white;
}
body {
  background: rgb(48, 52, 54);
  color: white;
  font-family: Helvetica;
}
.navbar-section {
  text-align: center;
  height: auto;
  flex-shrink: 4;
  color: white;
  background-color:rgba(19, 17, 17, 0.849);
}

nav #icon {
  line-height: 80px;
  font-size: 30px;
  display: none;
}
@media (max-width: 700px) {
  nav #icon {
    display: flex;
  }
  nav ul {
    display: none;
  }
}

.main-section {
  flex: 4;
  text-align: center;
  color: whitesmoke;
}
.intro {
  height: 100vh;
  
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 5px;
  background-color: rgb(17, 21, 23);
  animation: intro 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes intro {
  from {
    background-color: rgb(17, 21, 23);
    font-size: 5px;
  }
  to {
    background-color: rgb(48, 52, 54);
    font-size: 40px;
  }
}

.contact-button {
  background: #000;
  font-size: large;
  border: 2px solid lightgreen;
  border-radius: 2rem;
  width: 150px;
  height: 50px;
  transition: width 2s 1;
}
.contact-button:hover {
  /* background: skyblue;; */
  /* color:black; */
  width: 200px;
}
.social-media {
  margin-top: 5px;
}
.social-media a {
  padding: 3px;
}
h2 {
  color: aqua;
  font-size: 50px;
}
.about-section {
  flex: 3;
  width: 50%;
  text-align: left;
  font-size: 20px;
  padding: 10px;
}

.skill_description {
  flex: 1;
  text-align: left;
  padding: 10px;
  line-height: 1.5;
}
.skills_type {
  flex: 1;
  margin: 10px 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.experience-card {
  height: 100%;
  width: 45%;
  background-color: #2d2c2c;
  margin: 10px;
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
}
@media (max-width: 800px) {
  .experience-card {
    width: 90%;
  }
  .name-field,.email-field,.subject-field{
    width: 100%;
  }
}

.experience-card p {
  color: rgb(180, 181, 183);
  font-size: 13px;
}

@media (min-width: 769px) {
  .skill_wrapper {
    display: flex;
    /* margin-top: 100px; */
    flex-wrap: wrap;
    
  }
  h2{
    font-size: 40px;
  }
}

.skills_type ul li {
  border: none;
  text-align: left;
  padding: 5px;
  font-size: 22px;
}
.back-div {
  height: 2px;
  background: rgb(80, 78, 78);
  width: 90%;
}
.frontend-progress {
  width: 0%;
  background: rgb(239, 108, 108);
  height: 2px;
  animation: frontend 2s;
  animation-fill-mode: forwards;
}
@keyframes frontend {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}
.backend-progress {
  width: 0%;
  background: rgb(102, 232, 221);
  height: 2px;
  animation: backend 2s forwards;
}

@keyframes backend {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
.reactjs-progress {
  width: 0%;
  background: rgb(121, 248, 136);
  height: 2px;
  animation: reactjs 2s forwards;
}

@keyframes reactjs {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.mysql-progress {
  width: 00%;
  background: rgb(82, 67, 246);
  height: 2px;
  animation: mysql 2s forwards;
}

@keyframes mysql {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

.contactform-section {
  flex: 1;
  margin: 100px;
}

.contact-form {
  margin: auto;
  /* background: rgb(202, 39, 39); */
  /* justify-content: space-around; */
}
.contact-form input,
textarea {
  background: rgb(67, 62, 62);
  font-size: 15px;
  color: white;
  height: 50px;
  margin: 5px;
}
.name-field,
.email-field {
  flex: 1 40%;
}
.subject-field {
  flex: 1 100%;
}
.textarea-field {
  /* flex: 1; */
  width: 100%;
}

.my-projects {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin-top: 20px;
}

figure {
  position: relative;
  /* display: flex; */
  flex: 1;
  justify-content: space-around;
}
figcaption {
  position: absolute;

  text-align: center;
  left: 40%;
  top: 45%;
  text-shadow: 0 0 1px white;
  font-weight: bold;
}
figure img {
  opacity: 0.5;
}
figure img:hover {
  opacity: 1;
  zoom: 110%;
}

/* Education page css */
.education_main{
	display: flex;
	flex-direction: column;
}
.education-1 {
	text-align: left;
	padding: 10px;
	margin: 10px;
	display: flex;
	background-color:#2d2c2c;
	justify-content: space-between;
	flex-wrap: wrap;
}
.education-text{
	width: 60%;
}
.education-2 {
	text-align: left;
	padding: 10px;
	margin: 10px;
	display: flex;
	background-color:#2d2c2c;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.education-1 p, .education-2 p{
	color:rgb(180, 181, 183);
}
/* page loading css */

.spin-outer{
	background-color: rgb(48, 52, 54);
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	

}
.spin-inner{
	width: 100px;
	height: 100px;
	border:15px solid rgb(84, 81, 81);
	border-top-color: aqua;
	position: absolute;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	animation: spin 1.5s infinite linear;
}
@keyframes spin {
	100%{
		transform: rotate(360deg);
	}
}
.contact-button-div{
  margin: auto;
}


