{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'portfolioapp/main.css' %}"
    />
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link
      rel="shortcut icon"
      href="{% static 'portfolioapp/logo.jpg' %}"
      type="image/x-icon"
    />

    <!-- <title>Hello, world!</title> -->
  </head>
  <body>
    <div class="spin-outer" id="spin">
      <div class="spin-inner"></div>
    </div>
    <div class="main-outer-container" id="main">
      <div class="container">
        <nav class="navbar-section">
          <div
            class="logo"
            style="
              background: rgba(14, 10, 10, 0.958);
              margin: auto;
              padding: 3px;
            "
          >
            <a href="#">
              <img
                src="{% static 'portfolioapp/logo.jpg' %}"
                alt="image not found"
                style="width: 100px; height: 100px"
              />
            </a>
            <label id="icon">
              <i class="fas fa-bars"></i>
            </label>
            <h3>Nav Code</h3>
            <p>web development</p>
          </div>

          <ul>
            <li><a href="{% url 'home-page' %}">Home</a></li>

            <li><a href="{% url 'skills-page' %}">Me and My Skills</a></li>
            <li><a href="{% url 'work-page' %}">Work</a></li>
            <li><a href="{% url 'education-page' %}">Education</a></li>
            <li><a href="{% url 'contact-page' %}">Contact</a></li>
          </ul>
          <ul class="social-media">
            <a
              href="https://github.com/navneetpathania?tab=repositories"
              target="_blank"
              ><i class="fab fa-github" style="font-size: 24px"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/navneet-pathania-8623b3184/"
              target="_blank"
              ><i class="fab fa-linkedin" style="font-size: 24px"></i
            ></a>
            <a href="https://www.instagram.com/navi_rajput007/" target="_blank"
              ><i class="fab fa-instagram" style="font-size: 24px"></i
            ></a>
          </ul>
        </nav>

        <div class="main-section">{% block code %} {% endblock %}</div>
      </div>
    </div>

    <!-- navbar jquery -->
    <script>
      $(document).ready(function () {
        $("#icon").click(function () {
          $("nav ul").toggle(1000);
        });
      });
    </script>

	<script>
		
		window.onload = setTimeout(loading,1000)
		function loading(){
			document.getElementById("spin").style.display="none";
			document.getElementById('main').style.display="block";
		};
	</script>
  </body>
</html>
