{% extends 'portfolioapp/base.html' %} {% block code %}
<div class="skill_wrapper">
  
  <div class="skill_description">
    <h2 class="skill-heading">Me,Myself & I</h2>
    <p class="skill-text">
      Creative and Productive back-end web developer with 1 year of experience
      building static and dynamic web applications using Python framework
      Django. I am Serious and passionate to make carrier in IT and, looking for
      an IT company that will allow me to further develop new skills and polish
      my skills.
    </p>

    <p class="skill-text">
      I create successful responsive websites that are fast, easy to use, and
      built with best practices. The main area of my expertise is front-end
      development, HTML, CSS, JS, building small and medium web apps, features,
      animations, and coding interactive layouts.
    </p>
    <p class="skill-text">
      I also have backend developer experience. I build static and dynamic website logic using  Python programming language and the Django framework.
    </p>
  </div>
  <div class="skills_type">
    <h2 class="heading" style="text-align: left">Skills & <br />Experience</h2>
    <ul>
      <li>
        Front-end <br />
        <div class="back-div">
          <div class="frontend-progress"></div>
        </div>
      </li>
      <li>
        Back-end <br />
        <div class="back-div">
          <div class="backend-progress"></div>
        </div>
      </li>

      <li>
        ReactJs <br />
        <div class="back-div">
          <div class="reactjs-progress"></div>
        </div>
      </li>
      <li>
        Mysql<br />
        <div class="back-div">
          <div class="mysql-progress"></div>
        </div>
      </li>
    </ul>
    <div class="cards">
      <div class="experience-card">
        <h4>Front-end experience</h4>
        <br>
        <p>Code App software solution</p>
        <p>Feb/2019 – Jul/2019</p>
        <br>
        <p>
        Implemented user interface design using HTML, CSS, and javascript.
        Gained knwoldge of frontend framework bootstrap.
        </p>
      </div>
      <div class="experience-card">
        <h4>Back-end experience</h4>
        <br>
        <p>Indy Bytes</p>
        <p>Aug/2019 – Nov/2019</p>
        <br>
        <p>
          Designed and implemented robust applications and Debugged applications to ensure low-latency and high-availability.
          Also, Integrated user-facing elements with server-side logic.
          and Implemented Security and data protection.
          

        </p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
